{% extends 'base.html' %}
{% block content %}
  <div class="row">
    <div class="col" >
      <div class="card" id="char-image">
        <div class="card-content">
          <span class="card-title">{{ char.name }}</span>
          
          <img src= '{{ char.thumbnail}}'  width="250" height="250">
        </div>
      </div>
    </div>
    <div class="col s8" id="char-stats">
      <div class = "card">
            <div class="stat-level">
                <div class ="bar intelligence"> Intelligence: {{superhero_stats.intelligence}}</div>
              </div>
            <div class="stat-level">
              <div class ="bar strength" > Strenght: {{superhero_stats.strength}}</div>
            </div>
            <div class="stat-level">
              
              <div class ="bar speed"> Speed: {{superhero_stats.speed}}</div>
            </div>
            <div class="stat-level">
              <div class ="bar power"> Power: {{superhero_stats.power}}</div>
            </div>
            <div class="stat-level">
              <div class ="bar durability"> Durability: {{superhero_stats.durability}}</div>
            </div>
            <div class="stat-level">
              <div class ="bar combat"> Combat: {{superhero_stats.combat}}</div>
            </div>
                <p class="hero-name"> Real name: {{superhero_name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- {% if not is_in_team %}
    <form method="post" action="">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Add to Roster</button>
    </form>
  {% else %}
    <p>This character is already in your team.</p>
  {% endif %} -->
<div class="row">
  <div class="col s6">
    <div class="carousel" style="width:100%" id="comic-carousel">
      {% for comic in comics %}
        {% if comic.description %}
              <div class="carousel-item">
                <div class="comic-card">
                    <img class ='comic-image' src= '{{comic.thumbnail.path}}.{{ comic.thumbnail.extension}}' data-comic-id="{{comic.id}}">
                </div>
              </div>
          {%endif%}
      {% endfor %}
    </div>
  </div>
  <div class="col s6">
    <div class="comic-description">
      {% for comic in comics %}
        {% if comic.thumbnail.path %}
          <div class="comic-description-item" data-comic-id="{{comic.id}}">
            <p class="comic-title">{{comic.title}}</p>
            <p class="comic-description-text">{{ comic.description }}</p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        let elems = document.querySelectorAll('.carousel');
        let instances = M.Carousel.init(elems);

        let comicDescriptions = document.querySelectorAll('.comic-description-item');
        comicDescriptions.forEach(function(comic){
          comic.style.display = 'none';
        });

        let carousel = document.getElementById('comic-carousel');
        carousel.addEventListener('click', function(event){
          let target = event.target;
          let comicId = target.getAttribute('data-comic-id');
          let singleDescription = document.querySelector(`.comic-description-item[data-comic-id="${comicId}"]`);

          comicDescriptions.forEach(function(comic){
            comic.style.display = 'none';
          });
          singleDescription.style.display= "block";
        });
    });
  </script>
{% endblock %}