{% extends 'base.html' %}
{% block content %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ char.name }}</span>
      <img src= '{{ char.thumbnail}}'  width="250" height="250">
    </div>
  </div>
  {% if not is_in_team %}
    <!-- Add to Team Form -->
    <form method="post" action="">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Add to Roster</button>
    </form>
  {% else %}
    <p>This character is already in your team.</p>
  {% endif %}

  <div class="row">
  {% for comic in comics %}
      <div class="col s12 m6 l3">
          <div class="comic-card" >
            <div class ="flip-card-inner">
              <div class="flip-card-front">
                <!-- <span class="card-title">{{comic.title}}</span> -->
                <p> Front id: {{ comic.id }}</p>

                <img src= '{{ comic.thumbnail.path}}.{{ comic.thumbnail.extension}}'  width="250" height="250">
              </div>
              <div class = "flip-card-back" >
                  Back
              </div>
            </div>
          </div>
        </div>
  {% endfor %}
  </div>
{% endblock %}