{% extends 'base.html' %}
{% block content %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ char.name }}</span>
      <img src= '{{ char.thumbnail.path}}.{{ char.thumbnail.extension}}'  width="250" height="250">
    </div>
  </div>
  {% for comic in char.comics.items %}
    <div class="comic-card">
      <div class="card-content">
        <span class="card-title">{{ comic.name}}</span>
        <p>Description: {{ comic.description }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock %}