@import url("https://fonts.googleapis.com/css?family=Dekko|Lato:900|Rock+Salt");

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Avengeance Heroic Avenger', sans-serif;
    font-size: large;
}
  
main {
  flex: 1 0 auto;
}

.carousel{
  perspective: 300px;
  height: 800px;
}

.carousel .carousel-item{
  width: 60%;
}

.stat-level{
  border: 1px solid #B0B0B0;
  width: 20em;
  border-radius: 4px;
  box-shadow: 0 0 3px #B0B0;
  backdrop-filter: blur(2px) brightness(101%);
  margin-top: 6px;
  margin-bottom: 6px;
}

.bar {
  width: 100%;
  height: 20px;
  border-radius: 3px;
  background: dodgerblue;
  text-align: center;
}

.bar.strength {
  background: orange;
}

.bar.speed {
  background: limegreen;
}

.bar.power {
  background: crimson;
}

.bar.durability {
  background: mediumorchid;
}

.bar.combat {
  background: teal;
}

.bar.progress {
  height: 100%;
  border-radius: 3px;
}

.comic-image {
  width: 100%;
  height: 600px;
  transform: translateY(-50%);
}

.comic-description{
  position: relative;
  margin: 100px 2.5% auto 2.5%;
  width: 95%;
  max-width: 500px;
  height: auto;
  background: linear-gradient(to left, #000, #ff0000);
  padding: 40px 10px;
  line-height:1.8em;
  color:#fff;
  box-shadow: 5px 7px 5px 0 rgba(0, 0, 0, .5);
}

.comic-description::before{
  position: absolute;
  content: '';
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background: linear-gradient(to left, #ff0000, #000);
  z-index: -1;
}

.comic-title{
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #ffcd28;
  background-size: 13px, 100%;
  font-weight: 700;
  font-family: "Dekko", cursive;
  position: absolute;
  top: -22px;
  right: 5%;
  padding: 5px 15px;
  margin: 0;
  font-size: 20px;
  border-left:2px solid #000;
  border-right:2px solid #000;
  border-top:2px solid #000;
  border-bottom:2px solid #000;
  font-weight: bold;
  color:#000;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}
 
